---
type Props = {
  href: string;
};
const { href, title } = Astro.props;
const target = href.startsWith("http") ? "_blank" : null;
const rel = target ? "noopener noreferrer" : null;
---

<a href={href} target={target} rel={rel}>
  <slot />
</a>